<div class="container px-5 px-sm-0">
  <div class="row">
    <h3>ゲーム詳細</h3>
    <%= link_to "編集", edit_admin_game_path(@game.id) %>
    <%= link_to "削除", admin_game_path(@game.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </div>
  <div class="row">
    <div class="col-sm4 offset-2">
      <%= image_tag @game.get_image(300, 300) %>
    </div>
    <div class = "col-sm8 ml-5 mt-5">
      <table>
        <tbody>
          <tr>
            <th><%= @game.name %></th>
          </tr>
          <tr>
            <th><%= @game.price %> (<%= @game.with_tax_price %>) 円</th>
          </tr>
          <tr>
            <th><%= @game.cero %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm4 offset-2">
      <th><%= @game.summary %></th>
    </div>
  </div>
</div>