<!DOCTYPE html>
<html>
  <head>
    <title>Yourgame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <p class="notice"><%= notice %></p>
　<p class="alert"><%= alert %></p>
　  <% if admin_signed_in? %>
      <% if request.fullpath.include? "/admin" %>
        <li class="nav-item">
         <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light btn btn-outline-light ml-3' %>
        </li>
        <% else %>
      <% end %>
　  <% elsif user_signed_in? %>
     <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light btn btn-outline-light ml-3' %>
     </li>
     <li class="nav-item">
      <%= link_to "マイプロフィール", user_path(current_user), class: 'nav-link text-light btn btn-outline-light ml-3' %>
     </li>
     <li class="nav-item">
      <%= link_to "ゲーム", games_path, class: 'nav-link text-light btn btn-outline-light ml-3' %>
     </li>
    <% end %>
　</header>

  <body>
    <%= yield %>
  </body>
</html>
